@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.glowing {
  position: relative;
  min-width: 100px;
  height: 100px;
  transform-origin: right;
  animation: colorChange 10s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n + 1)::before {
  background: rgba(134,255,0,1);
  box-shadow: 0 0 20px rgba(134,255,0,1),
    0 0 40px rgba(134,255,0,1),
    0 0 60px rgba(134,255,0,1),
    0 0 80px rgba(134,255,0,1),
    0 0 0 8px rgba(134,255,0,.1);
}

.glowing span:nth-child(3n + 2)::before {
  background: rgba(255,214,0,1);
  box-shadow: 0 0 20px rgba(255,214,0,1),
    0 0 40px rgba(255,214,0,1),
    0 0 60px rgba(255,214,0,1),
    0 0 80px rgba(255,214,0,1),
    0 0 0 8px rgba(255,214,0,.1);
}

.glowing span:nth-child(3n + 3)::before {
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0,226,255,1),
    0 0 40px rgba(0,226,255,1),
    0 0 60px rgba(0,226,255,1),
    0 0 80px rgba(0,226,255,1),
    0 0 0 8px rgba(0,226,255,.1);
}

.glowing span:nth-child(3n + 1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 10s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
  animation: animate 10s alternate infinite; 
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

:root {
    --fonte1: "Inter", sans-serif;
}

.titulo{
    padding: 5%;
    font-family: var(--fonte1);
    color: #0a3871;
    text-align:center ;
}

.caixasdetexto{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
}
.entrada{
    background-color: #0a387100;
    border-radius: 5%;
    font-family: var(--fonte1);
    color: #ffffff;
    text-align:center ;
    font-size: 20px;
    padding-top: 2%;
 }
.saida{
    background-color: #0a387100;
    border-radius: 5%;
    font-family: var(--fonte1);
    color: #ffffff;
    text-align:center;
    font-size: 20px;
    padding-top: 2%;
}

.botoes{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
}

.botaoCriptografar{
    color: #FFF;
    background-color: #0A3871;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.botaoDescriptografar{
    color: #FFF;
    background-color: #0A3871;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.botaoCopiar{
    color: #FFF;
    background-color: #0A3871;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.footer{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}